################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookAuthor/.vs/BookAuthor/v15
/BookAuthor/.vs/config
